[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

pytest = "*"
pytest-cov = "*"
codecov = "*"
twine = "*"
tox = "*"
"flake8" = "*"
pytest-runner = "*"


[packages]

"e1839a8" = {path = ".", editable = true}
